.advantages {
  margin: 0;
  overflow: hidden;
}

.advantages__header {
  padding-top: 43px;
  padding-bottom: 30px;
}

.advantages__intro,
.advantages__slogan {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: auto;
  text-align: center;
}

.advantages__intro {
  margin-bottom: 30px;
}

.advantages__slogan {
  padding: 0 30px;
}

.advantages__main {
  position: relative;
  background-color: @bg-light;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 5vh solid #ffffff;
    border-right: 100vw solid transparent;
  }
}

.advantages__container {
  position: relative;
  padding-top: 85px;
  background-color: @bg-light;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 287px;
  font-weight: 400;
  list-style: none;
}

.advantages__item {
  margin-bottom: 35px;
  padding: 0;

  &--smile::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 63px;
    width: 157px;
    height: 280px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  color: @cl-black;
  text-align: center;
}

.advantages__description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .advantages__header {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .advantages__intro,
  .advantages__slogan {
    margin-bottom: 0;
    font-size: 40px;
  }

  .advantages__slogan {
    padding: 0 120px;
  }

  .advantages__main {
    background-color: @bg-light;

    &::before {
      border-top: 10vh solid #ffffff;
      border-right: 100vw solid transparent;
    }
  }

  .advantages__container {
    position: relative;
    padding-top: 40px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 400px;
    padding-top: 28px;
    padding-left: 310px;
    padding-bottom: 11px;
  }

  .advantages__item {
    margin-bottom: 25px;
    text-align: left;

    &--smile::before {
      content: "";
      position: absolute;
      z-index: 3;
      left: 0;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .advantages__title {
    font-size: 18px;
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__main {
    padding-top: 0;
    background-color: @bg-light;

    &::before {
      border-top: 23vh solid #ffffff;
      border-right: 100vw solid transparent;
    }
  }

  .advantages__container {
    position: relative;
    padding-top: 0;
    padding-bottom: 63px;
  }

  .advantages__header {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .advantages__slogan {
    padding: 0 180px;
    line-height: 59px;
  }

  .advantages__intro,
  .advantages__slogan {
    font-size: 50px;
  }

  .advantages__list {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .advantages__item {
    position: relative;
    margin: 0;
    text-align: center;
    width: 32%;
    padding-top: 358px;

    &--street::before {
      z-index: 3;
      content: "";
      position: absolute;
      top: 0;
      left: 3px;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--garage {
      margin: 0 15px;
    }

    &--garage::before {
      z-index: 3;
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--smile::before {
      z-index: 3;
      content: "";
      position: absolute;
      top: 0;
      left: 10px;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .advantages__title {
    margin-bottom: 25px;
    padding: 0 35px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    margin: 0;
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
