.application {
  position: relative;
  background-color: #1d2631;
  margin-top: -70px;
  min-height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  color: #ffffff;
  text-align: center;
  overflow: hidden;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

.application__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 258px;
    height: 286px;
    left: 0;
    top: 178px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}

.application__title {
  display: none;
}

.application__download {
  padding-top: 510px;
  padding-bottom: 30px;
}

.application__button {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 50px;

  &:hover,
  &:focus {
    background: #ffffff;
    color: @cl-red;
    outline: none;
  }

  &:active {
    color: #f1becc;
  }
}

.application__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  width: 210px;
  height: 60px;
  list-style: none;
}

.application__item {
  position: relative;
  width: 50px;

  &--android {
    padding-top: 9px;
  }

  &--microsoft {
    padding-top: 13px;
  }
}

.application__item a {
  &:focus {
    outline: 3px solid pink;
  }
}

.application__slogan {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .application {
    margin-top: -110px;
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      height: 110px;
    }
  }

  .application__wrapper {
    &::before {
      content: "";
      position: absolute;
      width: 700px;
      height: 545px;
      left: -20px;
      top: 184px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  .application__download {
    position: relative;
    width: 300px;
    padding-top: 205px;
  }

  .application__title {
    display: block;
    margin: 0;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: auto;
    font-weight: lighter;
    color: #ffffff;
  }

  .application__button {
    padding: 13px 45px;
  }

  .application__list {
    margin-top: 65px;
    padding: 0 10px;
  }

  .application__slogan {
    margin-top: 35px;
    font-size: 18px;
  }
}


@media (min-width: @desktop-width) {
  .application {
    margin-top: -110px;
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: #283645;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .application__wrapper {
    &::before {
      content: "";
      position: absolute;
      width: 1050px;
      height: 645px;
      left: 30px;
      top: 208px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  .application__title {
    margin-bottom: 72px;
    font-size: 50px;
    line-height: 59px;
  }

  .application__download {
    padding-top: 220px;
  }

  .application__button {
    padding: 10px 28px;
    font-size: 21px;
  }

  .application__list {
    margin-top: 82px;
  }

  .application__slogan {
    margin-top: 55px;
  }
}
