.comments {
  background-color: @bg-white;
  text-align: center;
  font-weight: 400;
}

.comments__wrapper {
  padding-top: 40px;
  background-color: @bg-white;
}

.comments__arrow {
  display: none;
}

.comments__list {
  .list();
  margin-bottom: 30px;
}

.comments__item {
  padding: 0;

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }
}

.comments__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
}

.comments__effect {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.comments__description {
  display: none;
}

@media (min-width: @tablet-width) {
  .comments__list {
    margin-bottom: 35px;
  }
  .comments__item {
    display: flex;
    flex-direction: column;
  }

  .comments__title {
    order: 2;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
  }

  .comments__effect {
    order: 1;
    margin-bottom: 35px;
    font-size: 18px;
  }

  .comments__description {
    display: block;
    order: 3;
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .comments__wrapper {
    padding-top: 72px;
  }

  .comments__arrow {
    display: block;
    position: relative;
    .list();

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 430px;

      width: 79px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .comments__left,
  .comments__right {
    position: absolute;
    top: 140px;

    width: 22px;
    height: 42px;
    fill: #bec2c7;

    cursor: pointer;
  }

  .comments__left {
    left: 0;

    &:hover {
      fill: #7e868f;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .comments__right {
    right: 0;

    &:hover {
      fill: #7e868f;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .comments__item {
    padding-top: 110px;
    padding-left: 100px;
    padding-right: 100px;

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }

  .comments__title {
    font-size: 24px;
    line-height: 32px;
    order: 2;
    margin-bottom: 0;
  }

  .comments__name {
    order: -1;
  }

  .comments__effect {
    margin: 0;
    margin-bottom: 38px;
  }

  .comments__description {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
}
