.contacts {
  min-height: 590px;
  text-align: center;
  overflow: hidden;
}

.contacts__wrapper {
  position: relative;
  z-index: 5;
  padding-top: 45px;
  background-color: @bg-white;
}

.contacts__container-up {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -75px;
    left: -440px;
    width: 1200px;
    height: 123px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  background-color: @bg-white;
}

.contacts__list {
  position: relative;
  z-index: 2;
  .list();
  background-color: @bg-white;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__phone,
.contacts__email,
.contacts__street {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 24px;
  line-height: auto;
  color: @cl-red;
  font-weight: 300;
}

.contacts__email {
  display: inline-block;
  outline: none;

  &:hover {
    color: @bg-dark;
  }

  &:focus {
    outline: 3px solid pink;
  }

  &:active {
    opacity: 0.2;
  }
}

.contacts__map {
  position: relative;
  z-index: 2;
  margin-top: -400px;
}

.contacts__map iframe {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  border: none;
  width: 100%;
  height: 645px;
}

.contacts__container {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 540px;
    left: 140px;
    width: 36px;
    height: 36px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 905px;
  }

  .contacts__wrapper {
    position: relative;
    padding-top: 46px;
  }

  .contacts__container-up {
    &::before {
      bottom: -98px;
      left: -270px;
    }
  }

  .contacts__slogan {
    margin: 0 0 45px;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__item {
    margin-bottom: 45px;
  }

  .contacts__phone,
  .contacts__email,
  .contacts__street {
    margin-top: 10px;
  }

  .contacts__map {
    margin-top: -392px;
  }

  .contacts__map iframe {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    border: none;
    width: 100%;
    height: 848px;
  }

  .contacts__container {
    &::before {
      top: 508px;
      left: 311px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    min-height: 1068px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    position: relative;
    padding-top: 60px;
  }

  .contacts__container-up {
    &::before {
      bottom: -122px;
      left: -240px;
      width: 1438px;
      height: 122px;
      background-size: 100% 100%;
    }
  }

  .contacts__slogan {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .contacts__item {
    width: 32%;
    margin-bottom: 0;

    &--phone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--street {
      order: 2;
    }
  }

  .contacts__phone,
  .contacts__email,
  .contacts__street {
    margin-top: 27px;
  }

  .contacts__phone,
  .contacts__title--phone {
    padding-right: 10px;
  }

  .contacts__email,
  .contacts__title--email {
    padding-left: 15px;
  }

  .contacts__map {
    margin-top: -345px;
  }

  .contacts__map iframe {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    border: none;
    width: 100%;
    height: 967px;
  }

  .contacts__map img {
    width: 1200px;
    height: 976px;
  }

  .contacts__container {
    &::before {
      top: 540px;
      left: 580px;
    }
  }
}
