.page-header {
  min-height: 69px;
}

.page-header__wrapper {
  position: relative;
  min-height: 69px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 69px;
    left: 0;
    top: 0;
    background: @bg-dark;
  }
}

.page-header__container {
  position: relative;
  z-index: 2;
  width: 280px;
  min-height: 27px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 22px;
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;

  &:focus {
    outline: 3px solid pink;
  }
}

.page-header__logo svg {
  width: 75px;
  height: 22px;

  &:hover path {
    fill: #d22856;
  }

  &:active path {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.page-header__tablet,
.page-header__desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    &::before {
      min-height: 110px;
    }
  }

  .page-header__container {
    padding: 25px 20px;
    width: 620px;
    min-height: 60px;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
  }

  .page-header__logo svg {
    width: 147px;
    height: 40px;
  }

  .page-header__tablet {
    display: inline-block;
  }

  .page-header__mobile,
  .page-header__desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    min-height: 110px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0 130px;
  }

  .page-header__container {
    padding: 0;
    padding-top: 26px;
  }

  .page-header__desktop {
    display: inline-block;
  }

  .page-header__mobile,
  .page-header__tablet {
    display: none;
  }
}
