.page-footer {
  position: relative;
  z-index: 1;
  background-color: @bg-white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 244px;
  margin-top: -284px;
  padding: 20px 0;
}

.page-footer__desktop {
  display: none;
}

.page-footer__logo {
  margin: 0 auto;
  width: 147px;
  height: 40px;

  &:focus {
    outline: 3px solid pink;
  }
}

.page-footer__logo svg {
  width: 147px;
  height: 40px;

  &:hover path {
    fill: @cl-red;
  }

  &:active .page-footer__mobile--text path {
    fill: @bg-dark;
    opacity: 0.2;
  }

  &:active .page-footer__mobile--glasses path {
    fill: @cl-red;
    opacity: 0.2;
  }
}

.page-footer__social {
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.page-footer__text {
  margin-right: 15px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__link {
  width: 27px;
  height: 34px;

  &:focus {
    outline: 3px solid pink;
  }
}

.page-footer__link svg {
  width: 27px;
  height: 34px;

  &:hover path {
    fill: @bg-dark;
  }
}

.page-footer__icon-htmlacademy {
  width: 27px;
  height: 34px;
  fill: @cl-red;

  &:hover {
    fill: @bg-dark;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    position: relative;
    z-index: 2;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -128px;
    min-height: 128px;
    padding: 0;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 40px;
  }

  .page-footer__social {
    margin: 45px 20px 0 0;
  }

  .page-footer__copyright {
    margin: 0;
    margin-top: 53px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    margin-top: -197px;
    min-height: 197px;
  }

  .page-footer__logo {
    margin-top: 66px;
    margin-right: 20px;

    &:active .page-footer__desktop--text path {
      fill: @bg-dark;
      opacity: 0.2;
    }

    &:active .page-footer__desktop--glasses path {
      fill: @cl-red;
      opacity: 0.2;
    }
  }

  .page-footer__mobile {
    display: none;
  }

  .page-footer__desktop {
    display: block;
  }

  .page-footer__social {
    margin-top: 70px;
    margin-right: 0;
  }

  .page-footer__copyright {
    margin-top: 81px;
  }

  .page-footer__text {
    font-size: 18px;
  }
}
