.reviews__header {
  position: relative;
  min-height: 240px;
  margin-top: -70px;
  background-color: @bg-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.61);
  }
}

.reviews__intro {
  padding-top: 97px;
  font-size: 24px;
  color: @bg-white;
  font-weight: 300;
  line-height: auto;
  text-align: center;
}

.reviews__slogan {
  margin: 0;
  padding: 50px 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__image-panorama {
  position: relative;
}

.reviews__promo-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 24px;
  color: @bg-white;
  font-weight: 700;
  background-color: @cl-red;
  text-transform: uppercase;
}

.reviews__img-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: auto;
  height: 137px;
}

.reviews__img-link {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 3px solid pink;
  }
}

.reviews__img-container img {
  max-width: none;
  height: 100%;
  width: auto;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  position: relative;
  margin-top: 20px;
}

.reviews__image img {
  width: 280px;
  height: 180px;
}

.reviews__image:focus {
  outline: 5px solid pink;
}

.reviews__container {
  position: relative;
  margin-top: -3px;
  margin-bottom: 20px;
}

.reviews__description-panorama {
  margin-top: 1px;
  padding: 20px 20px;
  background-color: @bg-light;
}

.reviews__description {
  min-height: 80px;
  margin-top: -4px;
  padding: 20px 20px;
  background-color: @bg-light;
}

.reviews__author-name {
  display: inline;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #283645;
}

.reviews__time {
  display: inline;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.reviews__like {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding-left: 35px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: @cl-red;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .reviews__header {
    margin-top: -110px;
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      height: 110px;
    }
  }

  .reviews__intro {
    padding-top: 185px;
    font-size: 50px;
  }

  .reviews__slogan {
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 18px;
  }

  .reviews__promo-text {
    position: absolute;
    top: 55px;
  }

  .reviews__container {
    margin-top: -2px;
  }

  .reviews__description-panorama {
    padding: 27px 27px;
  }

  .reviews__description-panorama .reviews__text {
    margin-bottom: 0;
  }

  .reviews__img-container {
    width: auto;
    height: 509px;
  }

  .reviews__img-link {
    width: 700px;
    height: 509px;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: @bg-white;
  }

  .reviews__item {
    background-color: @bg-light;
  }

  .reviews__image img {
    width: 300px;
    height: 300px;
  }

  .reviews__description {
    min-height: 96px;
    margin-top: -4px;
    padding: 26px 27px;
    width: 246px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 24px;
  }

  .reviews__like {
    bottom: 27px;
    margin: 0;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 230px;
      width: 13px;
      height: 12px;
      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--right {
      top: 30px;
      right: 85px;
    }

    &--right::before {
      left: 125px;
    }
  }

  .reviews__slogan-foto {
    padding: 65px 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin-top: -110px;
  }

  .reviews__header {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .reviews__intro {
    padding-top: 175px;
  }

  .reviews__slogan {
    margin: 0;
    padding-top: 92px;
    padding-bottom: 87px;
  }

  .reviews__promo {
    margin-bottom: 50px;
  }

  .reviews__img-container {
    width: auto;
    height: 506px;
  }

  .reviews__img-link {
    width: 1200px;
    height: 506px;
  }

  .reviews__description-panorama {
    padding: 23px 27px;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__item {
    margin: 0;
    margin-bottom: 55px;
  }

  .reviews__image img {
    width: 300px;
    height: 400px;
  }

  .reviews__description {
    min-height: 102px;
  }

  .reviews__text {
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .reviews__like--right {
    top: 30px;
    right: 190px;


    &::before {
      left: 105px;
    }
  }
}
