.reviews__header {
  position: relative;
  min-height: 240px;
  margin-top: -70px;
  background-color: @bg-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.61);
  }
}

.reviews__intro {
  margin: 0;
  padding-top: 100px;
  font-size: 24px;
  color: @bg-white;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.reviews__slogan {
  margin: 0;
  padding: 45px 15px 50px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__image-panorama {
  position: relative;
}

.reviews__promo-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 24px;
  color: @bg-white;
  font-weight: 700;
  background-color: @cl-red;
  text-transform: uppercase;
}

.reviews__img-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: auto;
}

.reviews__img-link {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 3px solid pink;
  }
}

.reviews__img-container img {
  height: auto;
  width: 100%;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  position: relative;
  margin-top: 20px;
}

.reviews__image img {
  width: 280px;
  height: 180px;
}

.reviews__image:focus {
  outline: 5px solid pink;
}

.reviews__container {
  margin-top: -3px;
  margin-bottom: 20px;
}

.reviews__description-panorama {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  padding: 17px 17px 20px;
  background-color: @bg-light;
}

.reviews__text-promo {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.reviews__like-promo {
  position: relative;
  margin: 0;
  padding-left: 32px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @cl-red;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.reviews__description {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
  padding: 18px 18px 21px;
  background-color: @bg-light;
}

.reviews__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.reviews__author-name {
  margin: 0;
  margin-right: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @bg-dark;
}

.reviews__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.reviews__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.reviews__like {
  position: relative;
  margin: 0;
  padding-left: 32px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @cl-red;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .reviews__header {
    margin-top: -110px;
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &::before {
      height: 110px;
    }
  }

  .reviews__intro {
    padding-top: 177px;
    font-size: 50px;
    line-height: 60px;
  }

  .reviews__slogan {
    padding: 90px 80px 78px;
    font-size: 18px;
  }

  .reviews__promo {
    margin-bottom: 31px;
  }

  .reviews__promo-text {
    position: absolute;
    top: 55px;
  }

  .reviews__container {
    margin-top: 0;
  }

  .reviews__description-panorama {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px 27px;
  }

  .reviews__block--promo {
    order: 1;
  }

  .reviews__like-promo {
    order: 2;
    margin-bottom: 0;
    padding: 0 32px 0 0;
    align-items: auto;
    align-self: end;

    &::before {
      top: 6px;
      left: 105px;
    }
  }

  .reviews__text-promo {
    order: 3;
    margin: 0;
  }

  .reviews__img-container {
    width: auto;
    height: 509px;
  }

  .reviews__img-link {
    width: 700px;
    height: 509px;
  }

  .reviews__img-container img {
    height: 509px;
    width: 100%;
    background-size: cover;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: @bg-white;
  }

  .reviews__item {
    background-color: @bg-light;
  }

  .reviews__image img {
    width: 300px;
    height: 300px;
  }

  .reviews__description {
    min-height: 106px;
    display: flex;
    margin-top: -4px;
    padding: 25px 27px;
    width: 246px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 24px;
  }

  .reviews__like {
    margin-top: auto;
    padding-left: 0;

    &::before {
      top: 7px;
      left: 230px;
    }
  }

  .reviews__slogan-foto {
    padding: 65px 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin-top: -110px;
  }

  .reviews__header {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .reviews__intro {
    margin: 0;
    padding: 173px 180px 0;
  }

  .reviews__slogan {
    margin: 0;
    padding: 92px 160px 87px;
  }

  .reviews__promo {
    margin-bottom: 50px;
  }

  .reviews__img-container {
    width: auto;
  }

  .reviews__img-link {
    width: 1200px;
  }

  .reviews__description-panorama {
    padding: 23px 27px;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__item {
    margin: 0;
    margin-bottom: 55px;
  }

  .reviews__image img {
    width: 300px;
    height: 400px;
  }

  .reviews__text {
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .reviews__like {
    margin-bottom: 0;
    padding: 0 30px 0 0;

    &::before {
      top: 6px;
      left: 230px;
    }
  }
}
