.slider__toggles {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  width: 70px;
}

.slider__toggle {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffffff;

  &:focus {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    background: #bec2c7;
  }

  &:hover::before {
    background: #7e868f;
  }

  &:active::before {
    background: #e9ebec;
  }

  &-active::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid @bg-dark;
    cursor: none;
  }

  &--bg {
    margin: 40px 0 10px;
    background: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    text-align: start;
  }

  .slider__toggles {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    text-align: start;
  }

  .slider__toggles {
    display: none;
  }
}
