.social__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 173px;
  .list();
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #dddfe0;
  border-radius: 50%;

  &--twitter svg,
  &--facebook svg,
  &--youtube svg {
    fill: #d22856;
  }

  &:hover,
  &:focus {
    border-color: @bg-dark;
    outline: none;
  }

  &:active {
    opacity: 0.2;
  }
}
